/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

body {
	color: #000;
	background-color: #94adb3;
	background-image: radial-gradient(#373b3f, #94adb3);
	background-size: 100% 300%;
}
body:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background-image: url(https://spectrumcomputing.co.uk/forums/styles/ZX-prosilver/theme/images/main_background_rainbow.png);
	height: 200%;
	max-height: 101vh;
	width: 100%;
	background-position: 57% -596px;
	background-size: 2900px;
    background-repeat: no-repeat;
	z-index: -1;
}

h1 {

}

h2 {
	
}

h3 {
	border-bottom-color: #CCCCCC;
}

hr {
	border-color: transparent;
	border-top: 1px dotted #737373;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #000; }
a:hover {color: #008edb;}

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #FFFFFF;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #A8D8FF;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}

/* Post body links */
.postlink {
	border-bottom-color: #008edb;
	color: #008edb;
}

.postlink:visited {
	border-bottom-color: #008edb;
	color: #008edb;
}

.postlink:hover {
	background-color: #D0E4F6;
	color: #0D4473;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: #008edb;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #fcfcfc;
	outline: 4px solid #111;
}

.headerbar {
	position: relative;
	color: #000;
	text-transform: uppercase;
	background: #000;
	padding: 15px;
	margin: -15px -15px 0;
	border-radius: 0;
	background-image: url(images/header_exolon.png);
	background-size: 520px;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

.site-description h1 {
	color: #fff;
	text-shadow: 0 2px 1px #000;
}
.site-description p {
	color: #eee;
	text-shadow: 0 2px 1px #000;
}
.forumbg {
	background: #29282d;
	border-radius: 3px;
    background-image: url(https://spectrumcomputing.co.uk/img/zx_cover.png);
    background-repeat: repeat-x;
    box-shadow: inset 1px 1px 4px #ffffff40;
    color: #fff;
}

.forabg {
	background: #29282d;
	border-radius: 3px;
    background-image: url(https://spectrumcomputing.co.uk/img/zx_cover.png);
    background-repeat: repeat-x;
    box-shadow: inset 1px 1px 4px #ffffff40;
    color: #fff;
}

.navbar {
	/* background-color: #ffffff; */
	/* border: 2px solid #000; */
	/* border-top-color: #737373; */
	/* border-left-color: #737373; */
	/*! background: linear-gradient(to bottom, #C6CACE, #FCFCFC); */
	padding: 4px 15px;
	margin: 0 -15px;
}

.panel {
	background-color: #f3f3f3;
	color: #28313F;
	border: 0;
	box-shadow: 0 0 1px #212f32;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1 {
	background-color: #f3f3f3;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #e6f7ff;
}

.bg2 {
	background-color: #f3f3f3;
}
.bg2.unreadpost,
.bg1.unreadpost {
  border-top: 3px solid #38484c;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #f3f3f3;
}

.bg3	{
	background-color: #f3f3f3;
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

.site_logo {
	background-image: url("https://spectrumcomputing.co.uk/img/logo.svg");
	/* background-image: url(./images/site_logo.svg); */
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: bottom left;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top: 1px dotted #737373;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #BFC1CF;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #CFE1F6;
	color: #000;
}

table.table1 td {
	color: #536482;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #536482;
}

.sep {
	color: #008edb;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green{
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red{
	color: #BC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange{
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray{
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray{
	color: #777777;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray{
	color: #999999;
}

.icon.icon-black, a:hover .icon.icon-black{
	color: #333333;
}

.alert_close .icon:before {
	background-color: #FFFFFF;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #CCCCCC;
}

.jumpbox-cat-link {
	background-color: #38484c;
	border-top-color: #38484c;
	color: #FFFFFF;
}

.jumpbox-forum-link {
	background-color: #e3e3e3;
}

.jumpbox-forum-link:hover {
	background-color: #F6F4D0;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #fff transparent;
}

.jumpbox-sub-link {
	background-color: #fff;
}

.jumpbox-sub-link:hover {
	background-color: #F1F8FF;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

p.post-notice {
	background-color: #ECD5D8;
	background-image: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #fff; /* Old browsers */ /* FF3.6+ */
}

ul.topiclist li {
  color: #505070;	
}


ul.topiclist dd {
	/* border-left: 1px dotted #505070; */
}

.rtl ul.topiclist dd {
	border-right: 1px dotted #505070;
	border-left-color: transparent;
}

li.row {
	border-top: 1px dotted #505070;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	
}

li.row:hover dd {
	
}

.rtl li.row:hover dd {
	
}

li.header dt, li.header dd {
	color: #FFFFFF;
	font-weight: bold;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
	border-right: 1px dotted #737373;
	padding-right: 12px;
}

p.author {
	color: #666666;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #333333;
}

.content h2, .panel h2 {
	color: #115098;
	border-bottom-color:  #CCCCCC;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #737373;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}
.stat-block {
  color: #505070;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #e3e3e3;
	border-color:#b3b3b3;
	padding: 4px 8px;
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#d3d3d3;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #c3c3c3;
}

/* Code block */
.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

.codebox p {
	border-bottom-color:  #CCCCCC;
}

.codebox code {
	color: #3a4aee;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #000000;
}

.online {
	background-image: url("./en/icon_user_online.png");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	background: #38484c;
	border: 2px solid #142326;
	border-top-color: #46595f;
	border-left-color: #46595f;
	border-radius: 3px;
	box-shadow: inset 1px 1px 4px #ffffff40;
	color: #fff;
	padding: 4px 10px;
}

.button:hover,
.button:focus {
	color: #fff;
}


.button .icon,
.button-secondary {
	color: #afafaf;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #fff;
}

.button-search:hover,
.button-search-end:hover {
	/* border-color: #C7C3BF; */
}

.caret	{ border-color: #DADADA; }
.caret	{ border-color: #C7C3BF; }

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #F2F6F9; }

/* Buttons inside the content */

.post-buttons .button {
	background: #fff;
	color: #3b3938;
	box-shadow: 0 0 1px #b9b9b6;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	min-width: 24px;
}

.post-buttons .button i {
	color: #3b3938;
}
.post-buttons .button:hover,
.post-buttons .button:focus {
	background: #b9b9b6;
	color: #3b3938;
}
.post-buttons .button:hover i,
.post-buttons .button:focus i {
	color: #3b3938;
}
.like,
.liked {
	font-size: 11px;
}
.like::before,
.liked::before {
  font-style: normal;
}

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #38484c;
	border: 1px solid #142326;
	border-top-color: #46595f;
	border-left-color: #46595f;
	border-radius: 3px;
	text-decoration: none;
	filter: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #ffffff;
	padding: 3px 8px;
	box-shadow: inset 1px 1px 4px #ffffff40;
}

.pagination li.ellipsis span {
	background: transparent;
	color:	#000000;
}

.pagination li.active span {
	color: #edf4f6;
	opacity: .7;
	background: #38484c;
	border: 1px solid #142326;
	border-top-color: #46595f;
	border-left-color: #46595f;
	border-radius: 3px;
	filter: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 3px 8px;
	box-shadow: inset 1px 1px 4px #ffffff40;
	font-weight: bold;
	line-height: normal;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	color: #afafaf;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: #C7C3BF;
}

.search-header {
	
}

/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_googleplus-icon				{ background-position: -140px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{background-image: url("./images/forum_read.png");}
.forum_read_locked					{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/topic_moved.png"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.png"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.png"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: #A4B3BF;
}

.panel-container .panel li.row {
	border-bottom-color: #B5C1CB;
	border-top-color: #F9F9F9;
}

ul.cplist {
	border-top-color: #B5C1CB;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #000000;
}

.panel-container table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

.cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	/* background: #BACCD9; */
	/* color: #536482; */
}

.tabs .tab > a:hover {
	background: #fff;
	/* color: #ff0000; */
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color: #f3f3f3; /* Old browsers */ /* FF3.6+ */
	/* background-image: -webkit-linear-gradient(top, #E2F2FF 0%, #ffffff 100%); */
	/* background-image: linear-gradient(to bottom, #E2F2FF 0%,#ffffff 100%); */ /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2F2FF', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-color: #f3f3f3;
	box-shadow: 0 1px 1px #F2F9FF inset;
	color: #333333;
	box-shadow: 0 -1px 1px #818f92;
}

.tabs .activetab > a:hover {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #E1EBF2;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #536482;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #ff0000;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #333;
	/* background: #ffffff; */ /* Old browsers */ /* FF3.6+ */
	/* background: -webkit-linear-gradient(left, #B4C4D1 50%, #ffffff 100%); */
	/* background: linear-gradient(to right, #B4C4D1 50%,#ffffff 100%); */ /* W3C */
}

.rtl .navigation a {
	background: #B4C4D1; /* Old browsers */ /* FF3.6+ */
	background: linear-gradient(to right, #ffffff 50%,#B4C4D1 100%); /* W3C */
}

.navigation a:hover {
	/* background: #AABAC6; */
	/* color: #BC2A4D; */
}

.navigation .active-subsection a {
	color: #03a6fa;
}

.navigation .active-subsection a:hover {
	color: #03a6fa;
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #333333;
}

.panel-container .panel {
	background-color: #FFFFFF;
}

.cp-main .pm {
	background-color: #FFFFFF;
}

/* Friends list */
.cp-mini {
	background-color: #FFFFFF;
}

dl.mini dt {
	color: #425067;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: red;
	border-right-color: red;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: orange;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #03a6fa;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
.gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

.gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FFFFFF;
	color: #000;
}

label {
	color: #425067;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #333333;
	background-color: #fafafa;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF;
	border-color: #B4BAC0;
	color: #333333;
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:hover {
	border-color: #11A3EA;
}

.inputbox:focus {
	border-color: #11A3EA;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	border-color: #C7C3BF;
    background-color: #000;
    background-image: url(https://spectrumcomputing.co.uk/img/zx_cover.png);
    background-repeat: repeat-x;
    border: 1px solid #000;
    box-shadow: inset 1px 1px 4px #ffffff40;
    border-top-color: #737373;
    border-left-color: #737373;
    color: #fff;
	padding: 4px 12px;
	border-radius: 3px;
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #fff;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	color: #afafaf;
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	outline: 2px solid #0060df;
}

input.disabled {
	opacity: .6;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #FFFFFF;
	border-color: #999999;
}
.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.png");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #f9f9f9;
	color: #000000;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #000000;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: #2a292e;
	background-image: url(https://spectrumcomputing.co.uk/img/zx_cover.png);
	background-repeat: repeat-x;
	box-shadow: inset 0px -1px 2px #ffffff40;
	color: #fff;
}
.dropdown-extended .bg2 {
	background: #eef2ff;
}
.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #FFF transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #2a292e transparent;
}

.dropdown .dropdown-contents {
	background: #fff;
	border-color: #B9B9B9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: #DCDCDC;
}

.dropdown li.separator {
	border-color: #DCDCDC;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #4C5D77;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #ff0000;
}

.badge {
	background-color: #ff0000;
	color: #ffffff;
}

.notouch #phpbb_announcement {
	margin-bottom: 14px;
	border-radius: 3px;
	box-shadow: 0 0 1px #000;
	background: #849799 !important;
	border-top: 3px solid #000;
	border-image: url(img/zx_cover.png);
}

.notouch #phpbb_announcement .close {
	opacity: 1 !important;
}

.icon.postlove-count {
  color: #3b3938 !important;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

/* Spoiler tweaks */

/* Spoiler tweaks */

.content details.spoiler {
  background-color: #e3e3e3;
  border-color: #b3b3b3;
  padding: 4px 8px;
  margin: 1em 0;
}

details.spoiler .spoiler-header {
 background-color: #e3e3e3;
  padding:  0;
  border: 0;
  margin: 4px 0 0 0;
}
.content details.spoiler .spoiler-status {
  padding: 0;
  margin: 0;
  background-color: transparent !important;
}

.content details.spoiler .spoiler-status > .icon {
  background: #38484c;
  border: 2px solid #142326;
  border-top-color: #46595f;
  border-left-color: #46595f;
  border-radius: 3px;
  box-shadow: inset 1px 1px 4px #ffffff40;
  color: #fff;
  padding: 4px 6px 4px 8px;
  margin-top: -4px;
}
.content .spoiler[open] > .spoiler-header {
	padding-bottom: 8px;
	border-bottom: 1px dotted #737373;
}